In [1]:
import numpy as np
import pandas as pd

In [3]:
# df = pd.read_csv("ny_taxi_postgres_data/taxi_data.csv", nrows=100)

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [5]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [5]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi_new')

In [9]:
engine.connect()

In [12]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [13]:
df_iter = pd.read_csv("ny_taxi_postgres_data/taxi_data.csv", iterator=True, chunksize=100000)

In [14]:
df = next(df_iter)
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [17]:
header = df.head(n = 0)

In [18]:
header.to_sql(name = 'yellow_taxi_data', con = engine, if_exists='replace')

0

In [19]:
%time df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists='append')

CPU times: user 4.46 s, sys: 142 ms, total: 4.61 s
Wall time: 13.6 s

1000

In [21]:
from time import time

In [22]:
while True:
    
    start = time()
    
    df = next(df_iter)
    
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
    df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
    
    df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists='append')
    
    end = time()
    
    print(f"inserted another chunk .. , took {end-start} seconds")

inserted another chunk .. , took 11.987627029418945 seconds
inserted another chunk .. , took 12.33824610710144 seconds
inserted another chunk .. , took 12.136714935302734 seconds
inserted another chunk .. , took 12.602672100067139 seconds
inserted another chunk .. , took 12.446541786193848 seconds
inserted another chunk .. , took 12.872220993041992 seconds
inserted another chunk .. , took 13.247353792190552 seconds
inserted another chunk .. , took 14.032041072845459 seconds
inserted another chunk .. , took 16.065013885498047 seconds
inserted another chunk .. , took 13.662248849868774 seconds
inserted another chunk .. , took 14.760345935821533 seconds

/var/folders/b3/rg3jvbr13tsbz1cn81d33pd00000gn/T/ipykernel_6956/2298355829.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk .. , took 12.235385179519653 seconds
inserted another chunk .. , took 8.579473733901978 seconds

StopIteration: